.messages-list{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.transaction-list{
  .username-filter{
    height: 25px;
  }
}
.has-error{
  .error-message{
    position: absolute;
  }
}